bin/
identity-rca/
tls-rca/
crypto-config/
config/*.block
config/*.tx 
config/*.json
config/*.yaml
.DS_Store
chaincode/hyperledger/
ca-config/msp
ca-config/*.db
ca-config/*Key
ca-config/tlsca/msp
ca-config/tlsca/*.db
ca-config/tlsca/*.db
ca-config/tlsca/*Key
ica.json
kubeconfig